{
    bottom: 1500px
    background-color: rgb(197, 159, 192); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(12, 1, 1); /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 30px; /* Set a font size */
    font-family:bernard;
    cursor: pointer; /* Mouse pointer on hover */
  }
  .btn:hover 
  {
    background-color: rgb(197, 142, 194);
  }


  .center {
    margin: 0;
    position: absolute;
    top: 98%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button1{
    border-radius: 5px;
    font-size: 25px;
    font-family: bernard;
    right: 50px;
    bottom: 2000px;
    width: calc(200% - 50px);
    height:calc(1500% - 50px);
  }